<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Lab3</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>controller</display-name>
    <servlet-name>controller</servlet-name>
    <servlet-class>LoginServlet.controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>controller</servlet-name>
    <url-pattern>/controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuyerSignupServlet</display-name>
    <servlet-name>BuyerSignupServlet</servlet-name>
    <servlet-class>controller.BuyerSignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyerSignupServlet</servlet-name>
    <url-pattern>/buyersignup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SellerSignupServlet</display-name>
    <servlet-name>SellerSignupServlet</servlet-name>
    <servlet-class>controller.SellerSignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SellerSignupServlet</servlet-name>
    <url-pattern>/sellersignup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>controller.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartServlet</display-name>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>controller.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/cart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderServlet</display-name>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>controller.OrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/order</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewOrderServlet</display-name>
    <servlet-name>ViewOrderServlet</servlet-name>
    <servlet-class>controller.ViewOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewOrderServlet</servlet-name>
    <url-pattern>/ViewOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserListServlet</display-name>
    <servlet-name>UserListServlet</servlet-name>
    <servlet-class>controller.UserListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserListServlet</servlet-name>
    <url-pattern>/UserListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductListServlet</display-name>
    <servlet-name>ProductListServlet</servlet-name>
    <servlet-class>controller.ProductListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductListServlet</servlet-name>
    <url-pattern>/ProductListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostReviewServlet</display-name>
    <servlet-name>PostReviewServlet</servlet-name>
    <servlet-class>controller.PostReviewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostReviewServlet</servlet-name>
    <url-pattern>/review</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SellerProductListServlet</display-name>
    <servlet-name>SellerProductListServlet</servlet-name>
    <servlet-class>controller.SellerProductListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SellerProductListServlet</servlet-name>
    <url-pattern>/SellerProductListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>postToReviewPageServlet</display-name>
    <servlet-name>postToReviewPageServlet</servlet-name>
    <servlet-class>controller.postToReviewPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>postToReviewPageServlet</servlet-name>
    <url-pattern>/reviewpage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewReviewServlet</display-name>
    <servlet-name>ViewReviewServlet</servlet-name>
    <servlet-class>controller.ViewReviewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewReviewServlet</servlet-name>
    <url-pattern>/ViewReviewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProductServlet</display-name>
    <servlet-name>DeleteProductServlet</servlet-name>
    <servlet-class>controller.DeleteProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProductServlet</servlet-name>
    <url-pattern>/DeleteProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WishlistServlet</display-name>
    <servlet-name>WishlistServlet</servlet-name>
    <servlet-class>controller.WishlistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WishlistServlet</servlet-name>
    <url-pattern>/WishlistServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PhotoServlet</display-name>
    <servlet-name>PhotoServlet</servlet-name>
    <servlet-class>controller.PhotoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PhotoServlet</servlet-name>
    <url-pattern>/PhotoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUserServlet</display-name>
    <servlet-name>DeleteUserServlet</servlet-name>
    <servlet-class>controller.DeleteUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserServlet</servlet-name>
    <url-pattern>/DeleteUserServlet</url-pattern>
  </servlet-mapping>
</web-app>