body{
	margin: 0;
	font-family: Georgia, Serif;
}

#open{
	float:left;
	margin:2%;
}

th{
	vertical-align: top;
	text-align: left;
	font-size: 25px;
}

td{
	vertical-align: top;
	text-align: left;
}

td:nth-child(1) {
	width: 30%;
}

td:nth-child(2) {
	width: 70%;
}

h1{
	clear:both;
	margin-top: 5%;
	margin-left: 5%;
}

div:nth-child(even)#alt_color {
	width: 100%;
	float:left;
	background-color: #5cd35c;
}

div:nth-child(odd)#alt_color{
	width: 100%;
	float:left;
	background-color: #bff0bf;
}

#order_product{
	padding: 1% 0% 1% 0%;
	width: 90%;
	margin-left: 5%;
	
}

	#photo{
		width: 20%;
		float:left;
		max-height: 96%;
	}
	
		img{
			width: 60%;
			margin-bottom: 2%;
		}
	
	#result{
		width: 60%;
		float:left;
	}
	
	input[type=button]{
		float:right;
		margin-top: 2%;
		margin-right: 2%;
		font-style: italic;
		border: none;
		padding: 9px;
	    font: bold 25px/100% Verdana, Tahoma, sans-serif; 
	    color: white;
	    width: 18%; 
	    background: #ff8900;
	    font-family: Georgia, Serif;
	}
	
	input[type=submit]{
		float:right;
		margin-top: 2%;
		margin-right: 2%;
		font-style: italic;
		border: none;
		padding: 9px;
	    font: bold 25px/100% Verdana, Tahoma, sans-serif; 
	    color: white;
	    width: 18%; 
	    background: #ff8900;
	    font-family: Georgia, Serif;
	}

input:hover, input:focus{ 
    -webkit-box-shadow: #ff9c00 0px 0px 40px;
	-moz-box-shadow: #ff9c00 0px 0px 40px;
	box-shadow: #ff9c00 0px 0px 40px;
    outline:none;
} 

input::-moz-focus-inner { 
  border: 0;
  padding: 0;
}

#subtotal{	
	margin-top: 1%;
	float:left;
	width: 100%;
	background-color: #ff8900;
}

#subtotal label{
	margin: 1% 0% 1% 5%;
	float: left;
	font-size: 25px;
	color: white;
	font-weight: bold;
}

#date{
	margin: 5% 0% 5% 0%;
	text-align: center;
	font-weight: bold;
	font-style: italic;
	font-size: 40px;
	color: #ff8e00;
}